.footer{
    display:flex;
    height: 130px;
    width: 100%;
    background: #121116;
}

.footer__content{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
}
.footer__copy{
    margin: 0;
    font-size:11px;
    line-height: 12px;
    color:#c9c9c9;
}

.footer__logo{
    position: relative;
    left: -7px;
    margin-bottom: 5px;
}

.footer__content_right{
    align-content: flex-end;
        margin-left: auto;
        margin-right: 15px;
}
.footer__image{
    margin: 7px 0;
}