.header__wrap{
    position: relative;
    z-index: 100;
}

.header{
    background:#1d1c23 url('../etc/img/header-right.jpg') right no-repeat;
    height: 90px;
    width: 100%;
    border-bottom:1px solid #0c0b0f;
    position:fixed;
    top:0;
}

.header__logo-wrap{
    width: 245px;
    height: 89px;
    position: relative;
    float:left;
        &::after{
        content:'';        
        position: absolute;
        left: 0;
        z-index: 0;
        background: url('../etc/img/logo-bg.jpg');
        height: 89px;
        width: 410px;
        background-repeat: no-repeat;
    }
    
}

.header__logo{
    z-index: 1;
    position: relative;

}

.header__select{
    position: relative;
    width: inherit;
    display: inline-block;
    // position: relative;
    z-index: 1;
    border-radius: 30px;
    border:solid 1px #7c7c7c;
    background: transparent;
    font-weight: bold;
    text-transform: uppercase;
    color:#7c7c7c;
    font-size: 12px;
    padding: 0 24px 0 10px;
    height: 27px;
    &:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: transparent;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
}
}
.header__select-wrap{
    float: left;
    line-height: 89px;
}
.header__select-label{
    position: relative;
    display: inline-block;
    &::after {
    content: '\f107';
    font-family: "FontAwesome";
    font-size: 23px;
    color: #8a8a8a;
    right: 9px;
    top: -7px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
    }
    &:focus::after{
        content: '\f106';
    }
}

.header__socials{
    line-height: 89px;
    display: inline-block;
    color: #7c7c7c;
    z-index: 11;
    position: relative;
    line-height: 89px;
    margin-left: 18px;
}
.header__socials-link{
        color:#7c7c7c;
         font-size: 20px;
         padding-right: 5px;
         transition: color .3s ease-in-out;
        &:hover{
            color:#dbdbdb;
        }
}

.header__nav{
    float: right;
}
.header__nav-ul{
    display: flex;
    align-items: center;
    height: 89px;
    margin: 0;
}

    .header__nav-li{
        list-style: none;
        padding-left: 17px;
        font-size:12px;
    }
            .header__nav-icon{
            font-size:18px;
            vertical-align: middle;
        }

            .header__nav-link{
        color:#7c7c7c;
        transition: color .3s ease-in-out;

        &:hover{
            color:#dbdbdb;
        }
        }
                .header__nav-link_active{
            color:#dbdbdb;
            position: relative;
            &::after{
                content:'';
                position: absolute;
                display:block;
                bottom: -44px;
                width: 100%;
                height:3px; 
                background: #dbdbdb;
                pointer-events: none;
                cursor: default;
            }
        }

.header__sign-in{
    float: right;
    display: flex;
    height: 89px;
    align-items: center;
    margin-right: 15px;
}