.section{
    
}
.section__header{
    height: 89px;
    display: flex;
    align-items: center;
    background: #121116;
    padding-left: 14px;
    border-top:1px solid #201e25;
    border-bottom:1px solid #0c0b0f;
}

.section__title{
    color:#7c7c7c;
    font-size:18px;
    margin:0;
}

.section__main{
    padding: 15px;
    border-top:1px solid #201e25;
    border-bottom:1px solid #0c0b0f;
    display:flex;
    flex-wrap: wrap;
}